<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <textarea rows="6" readonly class="form-control"> {{dataMessages.join('\n')}}</textarea>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Enter message" v-model="message"/>
                    <div>
                        <button @click.prevent="sendMessage" class="btn btn-outline-secondary" type="button"> Send </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['id'],
      data(){
          return {
              dataMessages:[],
              message: "",
          }
      },
      created() {
            Echo.join('user.chat.' + this.id)
              .here((users)=>{

              })
              .joining((user)=> {
                  this.dataMessages.push('Подключился к чату: ' + user.name);
                  console.log(user.name)
              })
              .leaving((user)=> {
                  this.dataMessages.push('Отключился от чата: ' + user.name);
                  console.log(user.name)
              })
              .listen('ChatStatusUpdated', (e) => {
                  console.log(e);
                  this.dataMessages.push(e.user.name + ": " + e.message);
              });
          Echo.private('user.chat.' + this.id)
              .listen('ChatStatusUpdated', (e) => {
                  console.log(e);
                  this.dataMessages.push(e.user.name + ": " + e.message);
              });
      },
      methods: {
          sendMessage() {
            let data = {
                  'message' : this.message
              }
              axios.post('/sendMessage', data)
                .then(result => console.log(result))
                .catch(errors=> console.log(errors))
          },
      }
    }
</script>
